[2016-09-08 19:24] skulltraill opened #3 "Not parsing spaces"
Hi

When I am trying to set a prefix, if I use a space:

`/pm groups admin set option prefix '&6[Top Brass]&f'`

it says:

`The value 'world' isn't valid.`

Please allow us to use spaces when we surround the words with quotation marks.

Thanks.

[2016-09-08 19:26] djxy commented on #3
Hi,
thanks for the report. You know, currently you can edit the file of the group Admin and then load it.

[2016-09-08 19:45] skulltraill commented on #3
Thank you for the fast reply.

Yes I know about manually editing, but would be nice to have it in the in-game menu also...

It's not urgent... so take your time.. but it would be nice to have :)

[2016-09-08 23:02] djxy commented on #3
This is fixed.

https://github.com/djxy/PermissionManager-2.0/releases/tag/v2.0.1

[2016-09-08 23:02] #3 closed

[2016-09-09 10:57] skulltraill opened #4 "An error reported by FML"
Firstly, thanks for fixing the other issue so fast.

But I found a new one (I think):
`    [20:18:22] [Server thread/ERROR] [FML/]: Detected an attempt by a mod Plugin{id=permissionmanager, name=PermissionManager, version=2.0, authors=[Djxy], source=/var/games/minecraft/servers/TDF_REBOOT/mods/permissionManager-2.0-API-5.X.jar} to perform game activity during mod construction. This is a serious pr

[2016-09-13 08:16] sonic1238 opened #5 "Error's when trying to do anything"
i put the plugin on my server but now, even OP's cant do anything since it classifies then as default, i cant even access the /pm menu because no matter how i go about it it wont let me get that permission to even do it. please help

if you need to chat here is my discord

https://discord.gg/8kGCChP - Name is VanillaKilla

[2016-09-13 10:56] djxy commented on #5
In the console, do this. /pm users your_name set permission *

[2016-09-13 18:03] sonic1238 commented on #5
thank you so much! it worked

but i have one question now, when adding a permission to a group,

/pm groups Default set permission <PERMISSION> - does <PERMISSION> have to be the node(nucleus.home.set.base) or just the / and the command (ex. /homeset)

[2016-09-13 18:56] #5 closed

[2016-09-17 17:45] #4 closed

[2016-09-19 21:58] Exchy opened #7 "Some things needs to rework, don't it?"
I don't receive any response in console when I type pm, pm menu; literally nothing to appear. Just once It allowed me to watch the "possibilities" but after that I couldn't ever reproduce that window again, is it scanning plugins for perms or what?
And yeah, maybe u know such plugin called "nucleus", so is it "manager" or "nucleus" not allowing OP to change even the GAMEMODE (carl!) without "*"? w

[2016-09-19 22:01] djxy commented on #7
You can't change then language of the console. You can only change your language in game. You should do this `/pm users your_username set permission *`, you will be able to do all the commands.

[2016-09-19 22:12] Exchy commented on #7
And since when /op command became useless, that's weird, don't u think so? (The image was just a joke, about "changing language in console"). So what about console ignoring when writing pm, pm menu? Cuz without any console-UI it's hard to find what exactly commands u should write to give myself perms, since in-game I don't have permission to /pm (oh, the irony is rich).  I'm referring/relating you

[2016-09-19 22:14] djxy commented on #7
The console has a ll the permission, so you can do any commands. Also, you can't use the menu in the console, because you need to interact with it.

When you install a permission plugin, the OP system doesn't work anymore.

[2016-09-19 22:23] Exchy commented on #7
Nice, but what commands, the program must show you, how can you add permissions

AND, in-game is denied also, due to not being able to properly "*" yourself in console, cuz as a new noob - you just don't know HOW, you must go to the internet and find special page with all "PM" commands (https://github.com/djxy/PermissionManager-2.0/wiki/Eng-%E2%80%94-Commands). I mean it just need to be shown in c

[2016-09-19 22:29] djxy commented on #7
The commands are on the wiki/forum of each plugin, you have to find them.

I'm not sure to understand what you want.

[2016-09-19 22:37] Exchy commented on #7
Ok, it try another way. I just downloaded your PM. I see that "op" is not working, I want to have all perms. I'm going to console and what's then? Long searching for your plugin commands in web? No, everyone  wants to see this.
![capture](https://cloud.githubusercontent.com/assets/22306747/18651184/6c080caa-7ed2-11e6-8c3e-f0d764568f48.PNG)
All commands of "Permission Manager" with explanation In o

[2016-09-19 23:05] djxy commented on #7
You have everything here https://github.com/djxy/PermissionManager-2.0/wiki

To have all the permissions, you have to do this `/pm users your_username set permission *`

[2016-09-20 07:05] Exchy commented on #7
I give up, close the thread, thx

[2016-09-20 12:27] djxy commented on #7
Okay, but I don't understand what the problem. You wanted à link with all the commands, I gave you the wiki and you wanted to know the command to have all the permission. I will close the thread.

[2016-09-20 12:27] #7 closed

[2016-09-25 01:59] lujiren opened #8 "Can't use CommandBlock"
spongeforge1.10.2-2092-5.0.0-BETA-1746
permissionManager-2.1.3-API-5.X

Just CAN'T place or modify Command Block.
When permissionManager is removed, everything works again.

in DEBUG mode, When I try to place Command Block
Console print [09:29:43] [Server thread/INFO] [io.github.djxy.permissionmanager.subjects.group.Group/]: admin get permission value for  - []

[2016-09-25 12:39] djxy commented on #8
You have to add the permission `/pm groups admin set permission *` to the admin group and then add yourself to the admin group `/pm users your_username add group admin`.

[2016-09-26 02:27] lujiren commented on #8
I have done that before, still not work.
@djxy

[2016-09-26 03:09] djxy commented on #8
Okay, I will check that tomorrow.

[2016-09-26 15:52] lujiren commented on #8
Thx! ❤️

[2016-09-30 11:56] jelaw21 opened #9 "worldedit commands keep reappearing."
I have a "player" group and an "admin" group. My "player" group is the default group. First off, no matter how many times I delete it, the generic default group keeps re-appearing. Also, not matter how many times I delete them, all the world edit commands keep showing up in my player group and the generic default.

[2016-09-30 14:13] djxy commented on #9
Some plugins give permissions to the default group. I will try something to avoid that.

[2016-09-30 14:14] djxy commented on #9
Which version are you using. Worldedit and PermissionManager.

[2016-09-30 14:23] jelaw21 commented on #9
PM: 2.1.3  Worldedit: 6.1.4

On Fri, Sep 30, 2016 at 10:14 AM, djxy <notifications@github.com> wrote:

[2016-09-30 15:03] djxy commented on #9
I fixed it, I will upload the update today.

[2016-09-30 15:03] jelaw21 commented on #9
Sweet.

On Sep 30, 2016 11:03 AM, "djxy" <notifications@github.com> wrote:

[2016-09-30 18:55] djxy commented on #9
2.1.4 should fix your problem.

[2016-09-30 18:55] #9 closed

[2016-09-30 18:56] djxy commented on #8
Is it working, I haven't had the time to test.

[2016-10-01 23:07] jelaw21 commented on #9
Except notw when I login for the first time it gives me a null pointer
exception: group

On Fri, Sep 30, 2016 at 2:55 PM, djxy <notifications@github.com> wrote:

[2016-10-01 23:09] djxy commented on #9
I want the logs. I will fix it.

[2016-10-01 23:24] jelaw21 commented on #9
Where would I find those since no crash report just kicked me out of server.

On Sat, Oct 1, 2016 at 7:09 PM, djxy <notifications@github.com> wrote:

[2016-10-02 05:06] djxy commented on #9
If it return a null pointer exception, you should have a crash report on your logs.

[2016-10-03 02:16] lujiren commented on #8
Still can't place CB in PermissionManager-2.1.4-API-5.X @djxy

[2016-10-12 23:45] bloodmc opened #10 "GriefPrevention defaults do not work"
As I stated on Sponge's forums, PermissionManager has not properly implemented the default subject.

https://github.com/djxy/PermissionManager-2.0/blob/master/src/main/java/io/github/djxy/permissionmanager/subjects/special/Special.java

Special seems to be the default subject and as you can see, it is just a placeholder that has no logic and returns TRUE for all permission checks.

Transient subje

[2016-10-12 23:55] djxy commented on #10
I changed the default subject, it was the default group, because some plugins/mods were setting their permissions on it and it was a problem for some people.

Also, I'm not sure to understand the difference between getSubjectData and getTransientSubjectData. That's why they return the same thing.

[2016-10-13 00:06] bloodmc commented on #10
https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/service/permission/PermissionService.java#L63

Your current implementation of getDefaults does not follow the contract set forth by our API. If users had issues with it then they weren't handling their permissions properly as defaults are meant to be the LOWEST priority of all subjects. Simply ignoring it

[2016-10-13 19:52] djxy commented on #10
https://github.com/djxy/PermissionManager-2.0/commit/a71d7ae8d3acf4a88361cf6c5b206892f3ada6ea

This is the commit to support the default subject. The default subject is only stored in the memory currently. I will change the getTransientSubjectData to only be stored in memory and the getSubjectData stored on a file.

[2016-10-15 03:47] LousyLynx opened #11 "Maven?"
Hello! I am trying to make a chat plugin using PermissionManager, but as of now, it is kind of hard. I was thinking that you could make a TravisCI, that is hooked up to a Bintray so that people can easily add your code as a dependency? That would really help me. If you want, I can try and help you 😄

[2016-10-15 11:14] djxy commented on #11
I will check that. Currently you can use the jar, but it could be a good idea to have something like that.

[2016-10-15 17:54] djxy commented on #11
Do you need help with your project?

[2016-10-15 23:02] bloodmc commented on #10
@djxy OK let me know when you fix transient data then I'll test it.

[2016-10-16 18:42] LousyLynx commented on #11
??

[2016-10-18 15:15] ProsperCraft opened #12 "Feature request /pm load groups"
When doing a lot of edits via the files it would be helpful if we could load all of the groups from the server.  Right now you can save all groups to file but not load them all, unless I am missing something.

[2016-10-18 15:16] ProsperCraft opened #13 "Feature request - Ability to jump in the menu to a specific user."
Right now we have 16 pages of users which will grow quickly and finding the specific user you want in that list can take some time, perhaps you could add a command like
/pm #user that would jump the menu to editing that user?

[2016-10-18 15:19] #8 closed

[2016-10-18 15:19] #11 closed

[2016-10-18 15:20] djxy commented on #12
Yes, currently there is no command for this. I could add it.

[2016-10-18 15:21] djxy commented on #13
Yes, I can add this. I will add two commands. `/pm groups #group` and `/pm users #users`

[2016-10-18 15:28] ProsperCraft commented on #13
Thank you! I really love your menu system for editing permissions, it will make it much easier for my staff, keep up the great work!

[2016-10-22 03:18] djxy commented on #13
Your commands https://github.com/djxy/PermissionManager-2.0/releases/tag/v2.4.0

[2016-10-22 03:18] #13 closed

[2016-10-22 03:18] djxy commented on #12
Your commands https://github.com/djxy/PermissionManager-2.0/releases/tag/v2.4.0

[2016-10-22 03:18] #12 closed

[2016-10-23 02:17] djxy commented on #10
I fixed the transient data. I tested with branch GriefPrevention-Support and GriefPrevention cancelled the event when I tried to break a block. After that, I tested with the version 2.4.0 and GriefPrevention wasn't working with it.

[2016-10-23 02:57] bloodmc commented on #10
@djxy OK i'll test in a few and let you know how it turns out.

Thanks!

[2016-10-23 14:17] dualspiral opened #14 "Add value of permission checks when using debug mode."
I'm trying to debug an issue a Nucleus user is having, and I'm trying to use Permission Manager's debug mode to determine whether a permission check succeeds or not. However, when I turn debug mode on, I get the following (running `/home` in Nucleus) - it tells me _what_ is happening, but not what the _result_ of it was.

[code]

Is it possible to add the result of the permission check to the debu

[2016-10-23 14:47] djxy commented on #14
Yes I can add this.

[2016-10-24 19:05] bloodmc commented on #10
@djxy I'm unable to build PM due to missing dependencies. Can you provide a jar?

Thanks!

[2016-10-24 19:51] djxy commented on #10
Yes, but wath are the jars that you need? If you clone my project you have a folder with the jars inside. It called libs.

[2016-10-24 19:52] djxy commented on #10
If you really need à jar, I will created one in two jours.

[2016-10-24 20:03] bloodmc commented on #10
@djxy Ah didn't realize that, OK i'll build it myself. Thanks

[2016-10-25 13:24] bloodmc commented on #10
@djxy I just built latest source and was not able to use any commands. When I checked the config folder, I saw a permissionmanager folder with 3 subfolders (groups, promotions, users) which had no files.

[2016-10-25 13:42] djxy commented on #10
Yes, to use a command you have to use the console. The folder are empty because there is no group, player and promotion. If you want to use a command you can give you all the permissions /pm users blood set permission *

[2016-10-25 17:41] djxy commented on #10
Does it work?

[2016-10-25 18:03] bloodmc commented on #10
@djxy Testing now.

[2016-10-25 18:07] bloodmc commented on #10
@djxy
[14:05:47] [Server thread/INFO] [nucleus/]: KratosKnox2 ran the command: /gamemode 1
[14:05:47] [Server thread/INFO] [io.github.djxy.permissionmanager.subjects.group.Group/]: Subject: default-39e091 - Contexts [world=world] - Permission: nucleus.gamemode.base - Tristate: UNDEFINED

LuckPerms and PEX both support wildcard perms by not including '*'. Can you add support for this in PM?

[2016-10-25 18:14] bloodmc commented on #10
Default permission do not seem to be working. I created a claim and set the block-break flag to true, logged in with a second user and attempted to break a block but failed.

[2016-10-25 18:16] djxy commented on #10
Did you build the branch GriefPrevention-Support?

[2016-10-25 18:16] bloodmc commented on #10
@djxy Let me make sure I built the right branch.

[2016-10-25 18:20] bloodmc commented on #10
Yes i'm using the GriefPrevention-Support branch.

[2016-10-25 18:23] djxy commented on #10
I updated the default class, you can pull.

[2016-10-25 18:24] djxy commented on #10
Wait!!

[2016-10-25 18:38] djxy commented on #10
It's good now. I fixed a mistake that I made with the Default. It was always returning UNDEFINED for the permissions.

[2016-10-25 19:05] bloodmc commented on #10
@djxy OK let me test.

[2016-10-25 19:11] bloodmc commented on #10
@djxy When I change a default flag in a claim, I get spammed with this now

https://gist.github.com/bloodmc/f51b3ca0ec8abef131f3adf85ae17ba6

[2016-10-25 19:12] bloodmc commented on #10
It might be better if you just test GP on your end. Grab the plugin from
http://files.minecraftforge.net/maven/me/ryanhamshire/griefprevention/1.10.2-2.1.0.85/griefprevention-1.10.2-2.1.0.85.jar

[2016-10-25 19:13] djxy commented on #10
I fixed the bug.

[2016-10-25 19:41] bloodmc commented on #10
@djxy OK I'll try again.

[2016-10-25 19:57] bloodmc commented on #10
@djxy Default permissions still do not work. The default file generated in "groups" folder only has

default: true

If I set a permission via command on the default user, it should be persisting to file.

[2016-10-25 19:58] djxy commented on #10
It persists, I have set the permission * to my user and everything was fine. It was in the file when I saved it.

[2016-10-25 20:01] djxy commented on #10
Did you save the group?

[2016-10-25 20:08] bloodmc commented on #10
@djxy I'm going to wipe all files and let them regen

[2016-10-25 20:55] djxy commented on #10
I tested and everything was fine. The default subject is saved and loaded when the server stop and start.

[2016-10-25 21:00] bloodmc commented on #10
@djxy I'll check again when I get home.

[2016-10-25 21:29] djxy commented on #10
It now supports the permissions like you asked. `nucleus` == `nucleus.*`

[2016-10-26 14:46] bloodmc commented on #10
@djxy Tested latest build, defaults seem to be working now =) and the wildcard permission without '*' seems to work. I see the defaults only persist when stopping the server and not during a world save. You should use the following event to save PM permissions during world saves

https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/event/world/SaveWorldEvent

[2016-10-26 15:18] djxy commented on #10
Currently, you can save and load à group/user at anytime. I will support the event when the World save.

[2016-10-26 15:55] bloodmc commented on #10
@djxy What if I change multiple groups/users on file directly, is there a command that lets me reload it all?

[2016-10-26 15:58] djxy commented on #10
In the branch you have you can't can't reload all the groups, but v2.4.0 can reload all the groups. I don't want to reload all the players because they are not all online. I could reload only the players online.

[2016-10-26 16:04] djxy commented on #10
The users, groups, promotions and the default subject are now saved when a world is saved. I will add a command to reload the players online.

[2016-10-26 16:09] bloodmc commented on #10
Change your SaveWorldEvent listener to SaveWorldEvent.Post or it will save twice.

[2016-10-26 16:12] djxy commented on #10
Done, changed the event to SaveWorldEvent.Post and added the command to load the online users. `/pm load users`

[2016-10-26 17:21] bloodmc commented on #10
@djxy doing a /save-all seems to wipe the data now. My default file just had the word "null" in it.

[2016-10-26 17:23] djxy commented on #10
Only the default subject or every subject?

[2016-10-26 17:24] bloodmc commented on #10
@djxy seems like only the default subject.

[2016-10-26 17:26] djxy commented on #10
The file is null If there is no permissions, options, groups or any other data. What was inside?

[2016-10-26 17:27] bloodmc commented on #10
@djxy Ah my mistake, I didn't realize I removed my default override. Just tested again and it's working as expected =)

[2016-10-26 17:28] djxy commented on #10
Good. So PM is working with GriefPrevention?

[2016-10-26 17:40] bloodmc commented on #10
@djxy So far but still testing. How do I set an option on a player?

[2016-10-26 17:44] djxy commented on #10
/pm users user set option option value

[2016-10-26 17:47] bloodmc commented on #10
Found a bug

I have a default flag permission "griefprevention.claim.flag.block-break" set to false as transient. If I add the default permission "griefprevention.claim.flag.block-break.minecraft.chest" and attempt to place a chest, it gets denied. So it seems the inheritance checks are bugged as the checks should be as follows

1. griefprevention.claim.flag.block-break.minecraft.chest  allowed ?

[2016-10-26 17:51] bloodmc commented on #10
I updated it, I believe this is how PEX does it but I need to confirm

[2016-10-26 18:17] djxy commented on #10
I think I fixed it, but I'm not sure to understand how you set your permissions.

[2016-10-26 18:34] bloodmc commented on #10
@djxy OK it still doesn't work, let me explain again

Player A places down a chest and GP requests the value for the following permission "griefprevention.claim.flag.block-break.minecraft.chest"

PEX would do the following in order at the highest level subject (group/user)

1. Does permission "griefprevention.claim.flag.block-break.minecraft.chest" exist? If so, return the value. If not, proceed t

[2016-10-26 18:36] bloodmc commented on #10
@djxy Please join webchat.esper.net and join #sponge-perms

[2016-10-28 14:57] djxy commented on #10
@bloodmc I fixed the permission verification system like we said on the irc. The order now, User transient data, User persistent data, Group transient data, Group persistent data, Default persistent data and Default transient data.

[2016-10-28 15:44] djxy opened #15 "Console menu"
When someone try to open the menu in the console, he receive nothing.

[2016-10-28 15:46] djxy opened #16 "Command help system"
A command help should be returned to the player when he send a bad command or when the last char is ?.

[2016-11-12 09:54] AnZaNaMa opened #19 "How to deny build permissions in specific world"
I understand how I can deny permissions and how to do world-specific stuff, I'm just trying to figure out if there's a permission for building/breaking blocks or is it an option or how does that work?

[2016-11-12 13:31] djxy commented on #19
It depends the plugins you are using, but it should ve an option.

[2016-11-12 13:40] AnZaNaMa commented on #19
so there is no default vanilla permission or sponge permission?
do you know of any that have a node for it?

[2016-11-12 14:49] djxy commented on #19
You could use the debug mode to check the permissions tested when you break/place a block.

[2016-11-13 04:35] AnZaNaMa commented on #19
oh cool, thanks!

[2016-11-14 01:45] #19 closed

[2016-11-17 16:58] Orcinuss opened #20 "default.yml nor default:<group> get reset"
Hello
I am trying to set member as the default group. Every time i restart the server default.yml get reset. I have also tried putting default:true in the member.yml but this has no effect.

When a new player logs in, they still have the group: default-9034cb. They should have the group, member.

### **While server is stopped:**
default.yml
[code]

member.yml
[code]

default-9034cb.yml
`default:fa

[2016-11-17 17:34] djxy commented on #20
`default.yml` is not the default group. This folder contains all the permissions and the options a player and a group have by default. It can't contains groups.

The default group is a group that you set as the default one. You can do it with a command `/pm default group #groupName`. Also, you don,t have to set `default: false`. By default a group is not the default one.

[2016-11-18 20:32] #20 closed

[2016-11-18 20:33] #14 closed

[2016-11-18 20:33] #10 closed

[2016-11-30 02:18] BigDrewskii opened #21 "Permissions issue"
When typing into console "pm users your_username set permission *" It says the command was ran successfully in console. But when trying to run a command in game it says "You have no permission"

Could this be a bungee issue? Or is this a known bug
Thanks
-Drew

[2016-12-01 15:00] BabelSolea opened #22 "Permissions not working on plugin SkinsRestorer"
plugin SkinsRestorer have permissions:
skinsrestorer.playercmds
skinsrestorer.cmds
skinsrestorer.bypasscooldown

i tried deny permissions on default group:
/pm groups default deny permission skinsrestorer.playercmds
/pm groups default deny permission skinsrestorer.cmds
/pm groups default deny permission skinsrestorer.bypasscooldown

/pm groups default deny permission skinsrestorer.*

then save gro

[2016-12-01 15:27] djxy commented on #22
Can I have the file of your group with the file of à player that is in the group?

[2016-12-01 15:48] BabelSolea commented on #22
default.yml

permissions:
- -skinsrestorer.cmds
- -skinsrestorer.bypasscooldown
- -skinsrestorer.playercmds
- -skinrestorer.*
rank: 10
default: true

Owner.yml

permissions:
- '*'
options:
    prefix: '[Owner]'
    'prefix:': '[Owner]'

Users: that really hard to searching.... http://image.prntscr.com/image/d14de00d804f44c287b9e0c67a439454.png

any user.yml

groups:
- default
options:
    language

[2016-12-01 16:12] #21 closed

[2016-12-01 16:16] djxy commented on #22
default.yml is in the folder `groups`?

[2016-12-01 16:29] BabelSolea commented on #22
yeah! all configurations is default.

[2016-12-01 16:34] djxy commented on #22
Can you use pastebin please? It will be better to understand your config.

[2016-12-01 16:40] BabelSolea commented on #22
link to zip of my
server/config/permissionmanager

https://drive.google.com/open?id=0BxEbenzEP7nQTHp0LWd0Tm5pRnc

[2016-12-01 16:42] djxy commented on #22
Okay thank you. I will test that later. Can you give the link to download skinsrestorer?

[2016-12-01 16:43] BabelSolea commented on #22
https://www.spigotmc.org/resources/skinsrestorer.2124/

[2016-12-01 16:43] djxy commented on #22
Are you using Pore?

[2016-12-01 16:44] BabelSolea commented on #22
Sponge? )
i using sponge vanilla #171 BETA. (for 1.11)

[2016-12-01 16:46] djxy commented on #22
Yes, but you can't use Bukkit plugins or Spigot with Sponge.

[2016-12-01 16:48] BabelSolea commented on #22
SkinsRestorer allow Sponge

**Servers:**
Spigot
CraftBukkit
PaperSpigot
Sponge

**Clouds:**
BungeeCord
Waterfall
FlexPipe

[2016-12-01 16:49] BabelSolea commented on #22
that plugin working fine, but i cant manage permissions.

[2016-12-01 16:49] djxy commented on #22
Okay I don't know that. I will test that when I will comeback home.

[2016-12-01 17:00] djxy commented on #22
Cab you use the commands without the permissions?

[2016-12-01 17:03] BabelSolea commented on #22
i can use command with and without permissions

[2016-12-01 17:03] BabelSolea commented on #22
command of that plugin

[2016-12-01 17:06] djxy commented on #22
I think this is à bug from Skinsrestorer. The author didn't set the permissions for the commands on the Sponge version.

[2016-12-01 17:07] djxy commented on #22
You should ask hin to fix it.

[2016-12-01 17:31] BabelSolea commented on #22
ok thanks for help me) i do that

[2016-12-01 17:34] BabelSolea commented on #22
yeah, one support of there plugin did join into my server and check/test it
they will work about it

[2016-12-01 20:23] #22 closed

[2016-12-06 23:13] Bizeran opened #23 "Prefixes no work"
I am using sponge version of this plugin. The plugin says the prefixes are there but they do not display in chat. I have checked the configs. I have deleted all other plugins that could interfere. Please get back to me on my email via epicface2700:gmail.com

[2016-12-06 23:53] djxy commented on #23
Do you have a plugin that handle the prefixes? PermissionManager can't format the chat. Nucleus can display the prefixes in the chat.

[2016-12-07 14:44] #23 closed

[2016-12-07 18:22] Bizeran commented on #23
thank you i will add nucleaus today. So permissionmanager wont display the
prefixes?

On Wed, Dec 7, 2016 at 9:44 AM, djxy <notifications@github.com> wrote:

[2016-12-07 21:10] djxy commented on #23
You set the prefixes with PermissionManager and you use Nucleus to display them.

[2016-12-10 00:41] hugeblank opened #24 "Per-world config disappearing"
I have a group called "Member" that I want as a default. The player spawns in a hub and can go to survival or creative. I want it to have a bunch of plotsquared permissions on the creative world, and a bunch of griefprevention perms in the survival world. Along with this I had a few global perms, for the chat. I had all the configs set up, so I started the server. After the server started, it crea

[2016-12-10 00:42] hugeblank commented on #24
OH XD you fixed it

[2016-12-10 00:45] hugeblank commented on #24
sike. Just updated, and it's still an issue in 2.5.2

[2016-12-10 02:04] djxy commented on #24
When you edited your file, did you test it before on a validator online? If not, it may be the problem. May be you did an error and when the server loaded, the file didn't loaded because the error.

[2016-12-10 02:49] majix560 opened #25 "English Wiki Page "How to Start" doesn't tell you how to start"
[English Wiki Page "How to Start"](https://github.com/djxy/PermissionManager-2.0/wiki/Eng-%E2%80%94-How-to-start) doesn't tell you how to start.
It gives some basic information, but the stuff it tells you has **_*nothing*_** to do with actually using this plugin, let alone how to get started with it.

[2016-12-10 02:59] djxy commented on #25
Yes, I give some basics informations, these can guide anyone, but I can't know in advance what you want to do. You can check the commands or use the menu if you are not sure how to edit the files.

[2016-12-10 03:56] hugeblank commented on #24
@djxy No I didn't... Where could I find one?

[2016-12-10 04:57] majix560 commented on #25
In order to be able to rightfully call it "How to start" you have tell people at least the "basics" of how to use the plugin.
Not just the basic concepts.
After-all, you can't tell people "how to start" using something if you don't actually tell them how to start using it.

[2016-12-10 07:50] #24 closed

[2016-12-10 09:01] djxy commented on #25
I don't see what you want more. I tell you how to give you all the rights like an OP, I give you à tool to validate your files, I say that if you don't want to edit your file you can use the commands or the menu and then I explain the difference between the default group and the default subject.

Then I can't say you which commands to use, I don't know what you want to do. Thats why How to start g

[2016-12-10 09:01] #25 closed

[2016-12-13 23:48] GazbonicAcid opened #26 "[Feature Request] I need the ability to set a Promotion permission to a specific promotion."
I am using Permissions Manager because of its rules system and the plugins its rules system supports.
However I need the ability to set a Promotion permission to a specific promotion.
I need it so that I can have On-Duty and Off-Duty modes for various staff ranks.
I'm using Promotions to facilitate that, however I need to restrict the various staff ranks to only be able to use their own off-duty a

[2016-12-14 02:18] djxy commented on #26
I'm not sure to understand what you want. You want that can be on or off. Example: On is when the player is doing his job(staff) and off is when he is playing? When he is doing his job, he have access to some permissions that he doesn't have when he is playing?

[2016-12-14 04:59] majix560 commented on #26
No.
A moderator only able to use the promotion for On and Off duty mod, but NOT the promotion for on and off duty admin.
I want per promotion permissions so I can do this.
At the moment I can only give permission for either all promotions, or none at all.
I want the ability to give permission for specific promotions, while denying permission for others.

[2016-12-14 06:48] djxy commented on #26
Currently with a permission, you can add and remove a permission. When you add it, you have the possibility to deny it. So, I"m not sure to understand what you really want.

Currently, you could create a promotion `Admin` that remove all the permissions of the promotion `Moderator` when you applied on a player.

The thing that I'm really not sure is the On and Off duty. I don't understand what you

[2016-12-14 14:35] majix560 commented on #26
No.
A moderator only able to use the promotion for On and Off duty mod, but NOT the promotion for on and off duty admin.
I want per promotion permissions so I can do this.
At the moment I can only give permission for either all promotions, or none at all.
I want the ability to give permission for specific promotions, while denying permission for others.

[2016-12-14 17:05] djxy commented on #26
Not sure to understand permissions per promotion. Currently, when you create à promotion you can set permissions only for this promotion.

[2016-12-14 17:44] majix560 commented on #26
There's only one permission to apply promotions, and it allows people to apply any/all promotions.
permissionmanager.commands.promotions.promote
I want something like this
permissionmanager.commands.promotions.promote.Mod-On
That only allows people to apply the Mod-On promotion.

[2016-12-14 17:47] djxy commented on #26
You want à permission like this `permissionmanager.commands.promotions.promote.<name of the promotion>` that can only apply the promotion specified?

[2016-12-14 17:47] majix560 commented on #26
correct

[2016-12-14 17:48] djxy commented on #26
Okay, no problem I can add this.

[2016-12-14 17:49] majix560 commented on #26
hopefully for the 1.10.2 version...
Harvest Festival mod is only for 1.10.2 and I haven't yet found a mod to add that makes me comfortable removing Harvest Festival yet.

[2016-12-14 18:06] djxy commented on #26
The features I add always target the Sponge API that I support and 1.10.2 is supported by Sponge API 5.

[2016-12-16 18:34] majix560 commented on #26
@djxy I don't suppose there's an eta as to when the functionality I requested will be in?

[2016-12-16 19:40] djxy commented on #26
I don't know when, but probably in the second week of January. I won't be able to release it before.

[2016-12-16 21:38] majix560 opened #27 "[Feature Request] Support for the @a selector in commands"
I need support added into commands for the following uses of the @a player selector.
I need this support added because I am using [MinePass](https://www.minepass.net/) to manage my server's whitelist and rankings.
The $name and $uuid variables are supplied by MinePass.
MinePass can be set to run certain commands when a player with a given role logs into.
Use of these forms of the @a selector is cu

[2016-12-17 13:14] djxy commented on #27
I will se what I can do.

[2016-12-19 17:55] hugeblank commented on #16
Suggestion: when you open the UI, across from each option could be a clickable light green '?' Where you can get help for each individual option.

I.E. the front page has:
Groups
Users
Debug
And 1 other thing that I can't remember of the top of my head

So you could have the '?' Be on the left:
? Groups
? Users
? Debug
Or on the opposite edge of chat:
Groups *a bunch of spaces* ?
Users  *a bunch o

[2016-12-19 17:58] djxy commented on #16
What would you like for the help message? I would like to gave an example of message.

[2016-12-19 18:05] hugeblank commented on #16
Well let's say you needed help on what 'groups' does in the menu when you first type in '/pm menu'. You would click on the question mark, and something like this would show up:

Groups:
To set up permissions, options, or promotions for a select amount of players that you can control, this would be what you would want to click. Groups are used when you want to provide a list of permissions to a spe

[2016-12-19 18:47] hugeblank opened #28 "[Feature Request] Database Support"
I swear I thought Permission Manager had database support but apparently I was wrong! I have 3 servers that I want to run off of the same database, rather than logging in, changing the permission, logging out, and repeating that 2 more times.

[2016-12-19 21:19] djxy commented on #28
Yes, it is something I would like to add.

[2016-12-29 17:11] ProsperCraft opened #29 "Context issue keeping groups from being listed in Nucleus /list."
https://github.com/NucleusPowered/Nucleus/issues/542#event-907505156

[2016-12-29 23:11] djxy commented on #29
I understand the problem. I will check that in à week. I dont have access to my computer currently.

[2017-01-02 03:32] Penrouk opened #30 "Promotion files get set to null."
Whenever I made a promotions ladder based off the example it always got set to null no matter what I did I. I was wondering if this was a user error or if there is a glitch in the system. Thanks in advanced! - Penrouk

[2017-01-02 15:08] djxy commented on #30
You are probably doing it while the server run. Make sure to close your server and try to validate your syntax before.

[2017-01-02 17:14] Penrouk commented on #30
I've tried when the server is offline, however I don't know how to validate the syntax. Also does it make any difference that I'm using sponge? I saw that most plugins don't work the same on sponge. Thanks in advanced! - Penrouk

[2017-01-03 15:21] djxy commented on #30
Which version of Sponge and PermissionManager are you using? You should check the API versiob

[2017-01-17 02:23] subtank opened #31 "some translation confuse"
i want translation this plugin,but here are some confuse:
"Do you really want to delete all the groups of the group {group} globally?
did it mean delete all sub-groups in group A?

[2017-01-17 02:25] subtank commented on #31
or it is a same code to delete a group?

[2017-01-17 02:29] djxy commented on #31
Wait before translating this version. I'm currently working on the new version (3.0.0) and There Will be some changes.

You would like to translate it in?

[2017-01-17 02:33] djxy commented on #31
But, this translation means: Do you want to delete all the global groups of X?

[2017-01-17 02:55] subtank commented on #31
Ok，thx.i will stop translation till 3.0 come out

[2017-01-17 03:05] subtank commented on #31
i can't open pm menu in game, how can i open it?

[2017-01-17 03:06] #31 closed

[2017-01-17 03:07] djxy commented on #31
You need the permission and you have to do /pm menu

[2017-01-17 03:08] subtank commented on #31
thanks

[2017-01-19 05:24] Kiriakashi opened #32 "Installation Problems:"
I recently tried using this for ranks in my server, and when I started the server up it didn't do anything.

I typed:
/pw
Nothing.

I typed:
/pw menu
Nothing.

Went to console and typed:
pm users Kiriakashi set permission *

Nothing?

[2017-01-19 05:28] Kiriakashi commented on #32
19.01 06:27:55 [Server] Server thread/ERROR [Sponge]: Error occurred while executing command 'pm users Kiriakashi set permission *' for source DedicatedServer: io/github/djxy/permissionmanager/subjects/user/User
19.01 06:27:55 [Server] INFO java.lang.NoClassDefFoundError: io/github/djxy/permissionmanager/subjects/user/User
19.01 06:27:55 [Server] INFO at io.github.djxy.permissionmanager.subjects.u

[2017-01-19 12:03] djxy commented on #32
Which version of Sponge and of PermissionManager Do you have?

[2017-01-19 14:19] Kiriakashi commented on #32
Hi! @djxy I got it fixed. One question, how do I add prefixes to ranks? Or, could you add that in a future update

[2017-01-19 14:25] djxy commented on #32
You have to set the option prefix and then use a plugin to format your chat. Nucleus can format to your chat.

For questions like this, you should ask them on the Discord channel.

[2017-01-19 14:25] #32 closed

[2017-01-19 15:10] Siriuo opened #33 "[Feature Request] Permission Inheritance"
Firstly a bit of feedback. So far this has been very stable and simple to use.

One feature I would like to see is permission inheritance.
For example:

If there are 4 groups [members, donator, moderator, admin] setting a single line in the moderatorin the yml file called inheritance: 'donator' or similar would give the moderator rank all permissions from the donator group and the member group (if

[2017-01-19 15:13] djxy commented on #33
You can, you have to add a group to another one. So, if you add the group donator to Moderator. Moderator will inherit every permissions and options donator has.

[2017-01-19 15:48] Siriuo commented on #33
Cool looks like that works.

Thanks :)

[2017-01-19 15:48] #33 closed

[2017-01-27 03:48] #15 closed

[2017-01-27 03:48] #16 closed

[2017-01-27 05:56] turtledude01 opened #34 "Group inheriting the default group doesn't save over restart"
First off, my groups go as follows Member(default) ->trusted->staff
Every time the server restarts, Trusted loses the group Member.  I'm not sure why this is but It is a bit annoying.  I have tried saving all groups and nothing has worked.  The file for the Trusted group does have Member as a group in itself, which makes it strange that Trusted does not get Member on reload.

[2017-01-27 12:03] djxy commented on #34
Are you reloading the file after you edit it? If it still does IT, you should add the group Member to trusted with the command.

[2017-01-28 21:04] turtledude01 commented on #34
I have been saving the files, yes, and it also randomly adds a new "default-XXXX" group  after a reboot

[2017-01-29 04:25] djxy commented on #34
It add this group, because there is no default group.

[2017-01-29 19:01] dualspiral commented on #29
Is there any movement on this? I've got quite a few users now asking about it.

[2017-01-29 19:10] djxy commented on #29
Yes, I'm currently working on the new version of PM and this is fix. I will fix it for the current version probably today. I'm currently waiting the results of the tests of Blood for the bug with GP, after that I will work on it.

[2017-02-07 03:22] #34 closed

[2017-02-07 03:57] djxy commented on #29
@ProsperCraft @dualspiral  It is fixed and it will be released in the v3 of PM.

[2017-02-07 03:57] #29 closed

[2017-02-07 03:59] djxy commented on #26
@GazbonicAcid It is added and it will be released in the v3 of PM.

[2017-02-07 03:59] #26 closed

[2017-02-07 04:00] djxy commented on #28
@hugeblank MySQL will be supported.

[2017-02-08 05:01] hugeblank commented on #28
*is excited*

[2017-02-11 16:24] Akiranya opened #35 "[Feature Request] An New Option For Groups"
Hi, could you add an option, which is used to prevent players from placing, breaking and interacting with everything? As the GroupManager (for Bukkit) has an option, which is similar to what I mentioned just now.

I would appreciate it if the new option would be added. 😄 By doing so, I would not have to combine all kinds of plugins, in order to prevent the newcomers from doing something annoyed, o

[2017-02-15 16:45] turtledude01 opened #36 "Suggestion- /pm help"
/pm help should list all available commands.  Since in the console there is currently no way to see all the commands that are possible this would greatly help with initial setup.

[2017-02-16 00:19] MageFX opened #37 "[Feature Request] Organised Usernames"
In the Edit User Section to show <playernames> in Alphabetical Order. As after now after 20+ pages is becoming a long winded process to find players

Thanks.

[2017-02-25 20:37] Hund opened #40 "How do I add permissions to users to access chests, doors etc?"
How do I add permissions to users to access chests, doors etc? I'm running a private server and I want everyone to have access to every inventory, doors etc. How do I do that?

[2017-02-25 21:16] djxy commented on #40
It depends the plugins you are using. Also, you should join the discord https://discord.gg/GqSwu52.

[2017-02-25 22:52] Hund commented on #40
I use PM with Nucleus. :) I don't use Discord.

[2017-02-25 23:10] djxy commented on #40
Use the debug mode and check the permission when you try to open a door or something like that. You should be able to do it.

[2017-02-26 22:47] Hund commented on #40
This is solved. Apparently `spawn-protection` (in server.properties) is a thing. It's funny how I never found out about this earlier. :)

[2017-02-26 22:47] #40 closed

[2017-03-07 01:54] leelawd opened #41 "[3.0.0] Subject issue with Nucleus's chat name hover?"
![image](https://cloud.githubusercontent.com/assets/3026728/23638315/d88b00f0-02d8-11e7-89ed-4be998400426.png)

After testing out the new 3.0.0 update i came across this.

[2017-03-07 02:06] djxy commented on #41
Which functionality of Nucleus is it? I will test it.

[2017-03-07 02:07] djxy commented on #41
Thanks, I will check that.

[2017-03-07 02:20] leelawd commented on #41
Sorry, after you suggested the config, having a quick look through i found that this is actually a config generation issue with nucleus. defaulting {{subject}} instead of {{player}} which is what it is meant to be.

[2017-03-07 02:20] #41 closed

[2017-03-07 12:47] Levvy055 opened #42 "Getting This is not a command"
Whenever I try to run command from console I got the mentioned error.

[2017-03-07 13:56] djxy commented on #42
Can I have the command you are doing and the version of sponge you are using? Also, are you using the v3 of PermissionManager?

[2017-03-07 14:02] Levvy055 commented on #42
PermissionManager-2.6.0-API-5.X-6.X.jar
spongeforge-1.10.2-2221-5.2.0-BETA-2211.jar

Any commands like /pm groups, /pm users from https://github.com/djxy/PermissionManager/wiki/Eng-%E2%80%94-Commands

[2017-03-07 14:09] djxy commented on #42
Do you have an error in logs when the server start?

[2017-03-07 14:45] Levvy055 commented on #42
Nope. Nothing in logs. I am also using nucleus plugin. Haven't checked yet without it because there are people playing now. Will check later if this is incompatibility with it.

[2017-03-07 14:47] djxy commented on #42
If you can, you should switch to the new version of PermissionManager. You version should be compatible with Nucleus.

[2017-03-07 20:08] djxy commented on #28
Added in the new version.

[2017-03-07 20:08] #28 closed

[2017-03-07 20:09] djxy commented on #27
Is it supposed to be supported by default?

[2017-03-09 05:28] hhm1573 opened #43 "[feature request] /PM command works with minecraft target selector?"
i want some kind of automation that add,remove group player in specific region.
while i am working on it, i noticed /pm command do not work with minecraft target selector like @p[tag=test],@a
i don't know it is easy or hard work for fix it but can you make it work with target selector?

[2017-03-09 11:53] djxy commented on #43
I will see what I can do

[2017-03-10 13:40] hhm1573 commented on #43
Thanks! i will keep watching this. please tell me if you need a tester :)

[2017-03-13 17:52] ryan1246 commented on #42
I'm getting this problem too, but i'm running 3.0.1. I go and type /pm in game and in console and I get Unknown command.

[2017-03-13 17:54] djxy commented on #42
I only tested with Sponge API 5.1. the other versions 5.x should work, but I can't guarantee it. Which version of Sponge API do you have?

[2017-03-13 17:59] ryan1246 commented on #42
This is what I get from the console:
[13:57:54] [Server thread/INFO] [nucleus]: Server ran the command: /sponge version
[13:57:54] [Server thread/INFO]: SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: 5.2.0-SNAPSHOT-982a6b0
    SpongeForge: 1.10.2-2221-5.2.0-BETA-2223
    Minecraft Forge: 12.18.3.2254

[13:58:31] [Server thread/INFO] [nucleus]: Server ran the command: /pm
[13:58:31] [Server threa

[2017-03-13 18:00] ryan1246 commented on #42
I'll try sponge API 5.1 and see if it helps

[2017-03-13 18:10] ryan1246 commented on #42
I dropped back down to 5.1 but it doesn't help.

[14:08:25] [Server thread/INFO] [nucleus]: Server ran the command: /sponge version
[14:08:25] [Server thread/INFO]: SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: 5.1.0-cf4dfb1
    SpongeForge: 1.10.2-2221-5.1.0-BETA-2210
    Minecraft Forge: 12.18.3.2254

[14:08:30] [Server thread/INFO] [nucleus]: Server ran the command: /pm
[14:08:30] [Server th

[2017-03-13 18:11] djxy commented on #42
Try a command of the wiki. This one doesn't exist in v3

[2017-03-13 18:20] ryan1246 commented on #42
Ah thanks, it registered /pm group Visitor default

[2017-03-13 18:32] ryan1246 commented on #42
Also just a quick question, what is the equivalent command for /pm menu in version 3.0.1? I cant find it in the wiki.

[2017-03-13 18:38] djxy commented on #42
The menu has not been updated yet.

[2017-03-13 18:49] ryan1246 commented on #42
Ok nvm, thanks

[2017-03-13 19:49] floomat opened #44 "Jooq spams fml-server.log"
Hello,
it seems the new version of Permission Manager spams the fml-server.log files to the max.
My log files reached over 500MB for one day. It would be nice if you could look into this. :)

Anyway it's a nice plugin, keep up the good work on this!

It repeats this like a hundred times every second:

[code]

[2017-03-13 20:29] #42 closed

[2017-03-13 21:51] Stokykyle opened #45 "Version 3.0.1 - No /pm command in game"
In Version 3.0.1, I have No /pm command in game

[2017-03-13 22:32] djxy commented on #45
The new version doesn't have the UI. I haven't had the time to update it yet.

[2017-03-22 17:25] Stokykyle commented on #45
Any new buillds?

[2017-03-23 20:34] djxy commented on #45
Not yet.

[2017-04-21 16:50] auwoqu opened #46 "no"

[2017-04-21 16:51] auwoqu commented on #46
i write  "/pm " in game
No such command

[2017-05-04 20:55] rlemish opened #47 "MySQL TimeZone"
Caused by: java.sql.SQLException: The server time zone value 'MSK' is unrecognized or represents more than one time zone. You must configure either the server or JDBC driver (via the serverTimezone configuration property) to use a more specifc time zone value if you want to utilize time zone support.

[2017-05-18 22:08] gigafunk commented on #44
from
http://stackoverflow.com/questions/28272284/how-to-disable-jooqs-self-ad-message-in-3-4

I get this line of code.  Maybe gonna try an fork and figure out just where this goes and build it.

maybe ill just try luckperms again.

static {
    LogManager.getLogManager().reset();
}

[2017-05-28 10:36] TehporP opened #48 "HOW TO SET A GROUP CANT PLACE DESTORY AND INTERACT WITH BLOCKS？"
WIKI DIDNT TALK ABOUT IT   HOW CAN I DO DAT?

[2017-05-28 12:22] djxy commented on #48
To control who can break and place a block, you have to use a plugin. PermissionManager only manage the permissions, but RedProtect and GriefPrevention can control these actions. You have to use a plugin like these ones and then check the permissions that control these actions.

[2017-05-28 12:22] #48 closed

[2017-07-10 00:57] Raycoms opened #49 "PermissionManager does not play well with RankUpper."
The RankUpper plugin executed the following code to find the nextRank to rank up to:

[code]

But for some reason player.getParents() returns an emptyList.
It seems to me that RankUpper does something wrong when it loads the ranks and therefore the player subject does not contain any parents.

[2017-08-01 11:21] #35 closed

[2017-10-11 17:50] captain1242 opened #50 "You do not have permissions to use that command."
No matter what I do, I always get the responce:
"You do not have permissions to use that command."

I Added the permissions to myself, I opped myself, I added myself to "Admin" but nothing seems to grant me any permission.